<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juju.bndapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReservationAutreAdresseActivity"></activity>
        <activity android:name=".ConseilsActivity" />
        <activity android:name=".GalerieCoiffeuseActivity" />
        <activity android:name=".GaleriePrestationActivity" />
        <activity android:name=".CGActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".ParametreActivity" />
        <activity android:name=".ReservationAdresseActivity" />
        <activity android:name=".AcceuilActivity" />
        <activity android:name=".CreacptActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ChoixPrestationActivity" />
        <activity android:name=".SyntheseActivity" />
        <activity android:name=".ChoixHoraireActivity" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".ProfilCoiffeuseActivity" />
        <activity android:name=".ChoixCoiffeuseActivity" />
        <activity android:name=".OptionsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>